.homepage {
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
}


.add-button {
    padding: 10px 40px;
    border: none;
    outline: none;
    background-color: gainsboro;
    font-weight: 600;
}

.add-button:hover {
    background-color: lightgray;
    cursor: pointer;
}



.table {
    border: 1px solid;
    height: 80%;
    width: 80%;
    margin: 10px;
}

.tb-row {
    background-color: skyblue;
    height: 20px;
}

tr>td:nth-child(even) {
    background-color: lightgreen;
}

.name-row {
    cursor: pointer;
}

.name-row:hover {
    background-color: lightcoral;
}